# Assignment 2

# problemset 2

# Question 1

What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

In [4]:
a = 0
def b():
 global a    
 a = c(a)   
def c(a):
 return a + 2
b()
b()
b()
a

6

Explanation:

b(): a's value is 0 so as c(a)=a+2 then 0+2=2 now global a's value changes to 2 b(): a's value is 2 now so as c(a)=a+2 then 2+2=4 now global a's value changes to 4 b(): a's value is 4 now so as c(a)=a+2 then 4+2=6 now global a's value gets changed to 6

So as in third step a=6 (global value is being changed from 0 to 6 when b() is being executed till last step)

# Question 2

Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:

In [7]:
def fileLength(filename):
    try:
        open_file = open(filename,'r')
        file_data = open_file.read()
        length_of_file = len(file_data)
        open_file.close()
        return length_of_file
    except:
        return "file  "+ filename + "  not   found"


fileLength("idterm.py")

'file  idterm.py  not   found'

# Question 3

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:

a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,

b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and

c. overloads the __str__ operator so it behaves as shown below.

In [14]:
class Marsupial:
    
    def __init__(self):  
        self.ques3 = []
        
    def put_in_pouch(self,word):
        'Adds the word into the list'
        self.word = word
        self.ques3.append(word)
        
    def pouch_contents(self):
        'Returns the list'
        return self.ques3

In [16]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [19]:
class Kangaroo(Marsupial):
    
    def __init__(self,xcord,ycord):
        'takes, as input, the coordinates x and y of the Kangaroo'
        Marsupial.__init__(self)
        self.x = xcord
        self.y = ycord
    
    def jump(self,dxcord,dycord):
        'takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y-axis'
        self.x += dxcord
        self.y += dycord
    
    def __str__(self):
        return 'I am a Kangaroo located at coordinates ({}, {}).'.format(self.x,self.y)

In [20]:
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0, 0).

In [21]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [22]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3, 0).

# Question 4

Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.

In [23]:
def collatz(number):
    print(number)
    if number==1:
        pass
    else:
        if number%2 == 0: 
            number = int(number/2)
            collatz(number)
        else: 
            number = int(3*number + 1)
            collatz(number)

In [25]:
collatz(1)

1

In [27]:
collatz(10)

10
5
16
8
4
2
1

# Question 5

Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.

In [31]:
def binary(number):
    print(number%2,end = '')
    
    if number == 1 or number==0:
        pass
    else:
        num = int(number / 2)
        binary(num)

In [32]:
binary(0)

0

In [33]:
binary(1)

1

In [34]:
binary(3)

11

In [35]:
binary(9)

1001

# Question 6

Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.

In [37]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    Headers = ["h1", "h2"]
    current = -1

    def handle_starttag(self, tag, attrs):      
        if tag in HeadingParser.Headers:         
            HeadingParser.current = HeadingParser.Headers.index(tag)
    
    def handle_endtag(self, tag):                
        if tag == HeadingParser.Headers[HeadingParser.current]:          
            HeadingParser.current = -1
            
    def handle_data(self, data):
        if HeadingParser.current >= 0:
            print(" " * HeadingParser.current + data)

In [47]:
infile = open("w3c.html","r")
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

# Question 7

Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.

In [48]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser

class Collector(HTMLParser):

  def __init__(self, url):
      #initializes parser, the url, and a list
      HTMLParser.__init__(self)
      self.url = url
      self.links = []


  def handle_starttag(self, tag, attrs):
      if tag == 'a':
          for attr in attrs:          
              if attr[0] == 'href': 
                  absolute = urljoin(self.url, attr[1])
                  if absolute[:4] == 'http':
                      self.links.append(absolute)

  def getLinks(self):
    return self.links


allLinks = []
    
def webdir(url,depth,indent):
        global allLinks   
        print(indent*" " + url)
        if depth == 0:
            return 
        for i in allLinks: 
            webdir(i, depth-1, indent+1)    

            
url = ' http://reed.cs.depaul.edu/lperkovic/test1.html'
resource = urlopen(url)
content = resource.read().decode()
collector = Collector(url)
collector.feed(content)
allLinks = collector.getLinks()
webdir(url,2,0)

 http://reed.cs.depaul.edu/lperkovic/test1.html
 http://reed.cs.depaul.edu/lperkovic/test2.html
  http://reed.cs.depaul.edu/lperkovic/test2.html

# Question 8

Write SQL queries on the below database table that return:

a) All the temperature data.

b) All the cities, but without repetition.

c) All the records for India.

d) All the Fall records.

e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.

g) The total annual rainfall for Cairo.

h) The total rainfall for each season.

In [50]:
cur.execute("CREATE TABLE CITY_DATA (City text, Country text, Season text, Temperature float, Rainfall float)")
data=[('Mumbai', 'India','Winter',24.8, 5.9),('Mumbai','India','Spring',28.4,16.2),('Mumbai','India','Summer',27.9,1549.4),
     ('Mumbai','India','Fall',27.6,346.0),('London','United Kingdom','Winter',4.2,207.7),
     ('London','United Kingdom','Spring',8.3,169.6),('London','United Kingdom','Summer',15.7,157.0),
     ('London','United Kingdom','Fall',10.4,218.5),('Cairo','Egypt','Winter',13.6,16.5),('Cairo','Egypt','Spring',20.7,6.5),
     ('Cairo','Egypt','Summer',27.7,0.1),('Cairo','Egypt','Fall',22.2,4.5)]
for cities in data:
    cur.execute("INSERT INTO CITY_DATA VALUES (?,?,?,?,?)",cities)
    con.commit()

In [51]:
# a
cur.execute('SELECT Temperature FROM CITY_DATA')
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [53]:
# b
cur.execute('SELECT DISTINCT City FROM CITY_DATA')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [55]:
# c
cur.execute('SELECT * FROM CITY_DATA WHERE Country LIKE "India%"')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [56]:
# d
cur.execute('SELECT * FROM CITY_DATA WHERE Season LIKE "Fall%"')
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [57]:
# e
cur.execute('SELECT City, Country, Season FROM CITY_DATA WHERE Rainfall BETWEEN 200 AND 400')
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [58]:
#f
cur.execute('SELECT City, Country,Temperature FROM CITY_DATA WHERE Temperature > 20 ORDER BY Temperature DESC')
cur.fetchall()

[('Mumbai', 'India', 28.4),
 ('Mumbai', 'India', 27.9),
 ('Cairo', 'Egypt', 27.7),
 ('Mumbai', 'India', 27.6),
 ('Mumbai', 'India', 24.8),
 ('Cairo', 'Egypt', 22.2),
 ('Cairo', 'Egypt', 20.7)]

In [59]:
# g
cur.execute('SELECT SUM(Rainfall) AS RF, City FROM CITY_DATA WHERE City LIKE "Cairo" GROUP BY City')
cur.fetchall()

[(27.6, 'Cairo')]

In [60]:
# h
cur.execute('SELECT SUM(Rainfall),Season FROM CITY_DATA GROUP BY Season')
cur.fetchall()

[(569.0, 'Fall'),
 (192.29999999999998, 'Spring'),
 (1706.5, 'Summer'),
 (230.1, 'Winter')]

# Question 9

. Suppose list words is defined as follows:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']

Write list comprehension expressions that use list words and generate the following
lists:

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [61]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

In [62]:
# a

a = [elements.upper() for elements in words]
print (a)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [64]:
# b

b = [elements.lower() for elements in words]
print(b)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [66]:
# c

c = [len(elements) for elements in words]
print(c)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [67]:
# d

d = [[elements.upper(),elements.lower(),len(elements)] for elements in words]
print(d)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [69]:
# e

e = [elements for elements in words if len(elements)>=4]
print(e)

['quick', 'brown', 'jumps', 'over', 'lazy']